.form {
    width: 70%; 
    max-width: 350px;
    height: auto; 
    margin: 5vw auto; 
    padding: 10px;
    gap: 0px;
    opacity: 0px;
    background: rgb(187, 213, 222);
}
.form:hover {
    background-color: rgba(11, 104, 121, 0.1); 
    border-radius:10px;
    box-shadow: 0px 0px 10px rgba(179, 170, 170, 0.2); 
}

.h1 {
    width: 90%; 
    max-width: 355px; 
    height: auto; 
    top: 10%; 
    left: 50%; 
    transform: translateX(-0%);
    gap: 0px;
    opacity: 0px;
    font-family: Helvetica Neue;
    font-size: 4vw; 
    font-weight: 700;
    line-height: 1.1; 
    text-align: left;
}

.span {
    width: 5%; 
    max-width: 30px; 
    height: auto; 
    top: 15%; 
    left: 5%; 
    gap: 0px;
    opacity: 0px;
    font-family: Helvetica;
    font-size: 3vw; 
    font-weight: 400;
    line-height: 1.1; 
    text-align: left;
}

.input {
    width: 90%; 
    max-width: 400px; 
    height: 35px; 
    top: 17%; 
    left: 90%; 
    transform: translateX(-0%);
    gap: 0px;
    opacity: 0px;
}

.button {
    width: 90%; 
    max-width: 355px; 
    height: auto; 
    top: 25%;
    left: 50%; 
    transform: translateX(-0%);
    gap: 0px;
    opacity: 0px;
    font-size: 4vw; 
    margin-top: 5vw; 
    color: rgb(237, 241, 236);
    background: rgba(85, 90, 136, 1);
}
